@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {

  /* #0D66B3  */
  /* #0e60a7 /*
  /* #0b5595 */

  color:#08365f;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(90deg, #00A4F6, #D1D5DB, #00A4F6);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 8s ease-in-out infinite;
}

.custom-border-animation {
  position: relative;
}



.text-glow {
  /* Apply a gradient to the text */
/* Gradient from white to slightly darker than #00bfff */


  /* Text shadow glow */
  text-shadow: 0 0 10px #00bfff,   /* Outer glow */
               0 0 20px #00bfff,   /* Outer glow */
               0 0 30px #00bfff,   /* Further glow */
               0 0 40px #00bfff;   /* Strongest glow */
}



.custom-border-animation::before,
.custom-border-animation::after,
.custom-border-animation::after-second,
.custom-border-animation::before-second {
  content: '';
  position: absolute;
  background-color: red;
  transition: width 0.5s ease, height 0.5s ease;
}

/* Top border */
.custom-border-animation::before {
  top: 0;
  left: 0;
  height: 2px;
  width: 0; /* Start with zero width */
}

/* Right border */
.custom-border-animation::after {
  top: 0;
  right: 0;
  width: 2px;
  height: 0; /* Start with zero height */
}

/* Bottom border */
.custom-border-animation::after-second {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0; /* Start with zero width */
}

/* Left border */
.custom-border-animation::before-second {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0; /* Start with zero height */
}


.shadow-all-around {
  box-shadow: 0px 5px 20px rgba(89, 195, 244, 1); /* You can adjust the values */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.calendly-badge-widget {
  position:absolute;
  top:50;

}

.markdown-styles{
  /* color:black; */
}



/* styles/markdown-styles.css */
.markdown-styles h2 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.markdown-styles h3 {
  margin: 1.5rem 0 1rem;
  font-size: 1.25rem;
  color: #ffffff;
}

.markdown-styles p {
  margin: 1rem 0;
  font-size: 1rem;
  color: #cccccc;
}

.markdown-styles a {
  color: #00bfff;
  text-decoration: underline;
}

.markdown-styles code {
  background-color: #1a1a1a;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  color: #ffcc66;
  font-family: 'Fira Code', monospace;
}

@media screen and (min-width: 768px) {
  .markdown-styles h2 {
    font-size: 2.2rem;
  }

  .markdown-styles h3 {
    font-size: 1.8rem;
  }

  .markdown-styles p {
    font-size: 1.2rem;
  }


}


